In [1]:
import numpy as np
import torch
import pandas as pd
import os

import torch.nn as nn
from torch import optim
from torch.utils.data import TensorDataset, DataLoader
from missforest import MissForest
from sklearn.ensemble import RandomForestRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import warnings

In [29]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
polish_companies_bankruptcy = fetch_ucirepo(id=365) 
  
# data (as pandas dataframes) 
X = polish_companies_bankruptcy.data.features 
Y = polish_companies_bankruptcy.data.targets 
  
# metadata 
print(polish_companies_bankruptcy.metadata) 
  
# variable information 
print(polish_companies_bankruptcy.variables) 

# data dimension
print(X.shape)

{'uci_id': 365, 'name': 'Polish Companies Bankruptcy', 'repository_url': 'https://archive.ics.uci.edu/dataset/365/polish+companies+bankruptcy+data', 'data_url': 'https://archive.ics.uci.edu/static/public/365/data.csv', 'abstract': 'The dataset is about bankruptcy prediction of Polish companies.The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 10503, 'num_features': 65, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2016, 'last_updated': 'Sat Mar 09 2024', 'dataset_doi': '10.24432/C5F600', 'creators': ['Sebastian Tomczak'], 'intro_paper': {'ID': 417, 'type': 'NATIVE', 'title': 'Ensemble boosted trees with synthetic features generation in application to bankruptcy prediction', 'authors': 'Maciej Ziȩba, S. Tomczak, Jakub M. Tomczak', 'venue': 'Expert systems with applications', 'year': 2016, 'journal': None, 'DOI': '10.1016/j.eswa.2016.04.001', 'URL': 'https://www.semanticscholar.org/paper/c0b86d47505223db7e6085c10dd797169a32fa78', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'The dataset is about bankruptcy prediction of Polish companies. The data was collected from Emerging Markets Information Service (EMIS, http://www.securities.com), which is a database containing information on emerging markets around the world. The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.\r\nBasing on the collected data five classification cases were distinguished, that depends on the forecasting period:\r\n- 1stYear â€“ the data contains financial rates from 1st year of the forecasting period and corresponding class label that indicates bankruptcy status after 5 years. The data contains 7027 instances (financial statements), 271 represents bankrupted companies, 6756 firms that did not bankrupt in the forecasting period.\r\n- 2ndYear â€“ the data contains financial rates from 2nd year of the forecasting period and corresponding class label that indicates bankruptcy status after 4 years. The data contains 10173 instances (financial statements), 400 represents bankrupted companies, 9773 firms that did not bankrupt in the forecasting period.\r\n- 3rdYear â€“ the data contains financial rates from 3rd year of the forecasting period and corresponding class label that indicates bankruptcy status after 3 years. The data contains 10503 instances (financial statements), 495 represents bankrupted companies, 10008 firms that did not bankrupt in the forecasting period.\r\n- 4thYear â€“ the data contains financial rates from 4th year of the forecasting period and corresponding class label that indicates bankruptcy status after 2 years. The data contains 9792 instances (financial statements), 515 represents bankrupted companies, 9277 firms that did not bankrupt in the forecasting period.\r\n- 5thYear â€“ the data contains financial rates from 5th year of the forecasting period and corresponding class label that indicates bankruptcy status after 1 year. The data contains 5910 instances (financial statements), 410 represents bankrupted companies, 5500 firms that did not bankrupt in the forecasting period.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'X1\tnet profit / total assets\r\nX2\ttotal liabilities / total assets\r\nX3\tworking capital / total assets\r\nX4\tcurrent assets / short-term liabilities\r\nX5\t[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365\r\nX6\tretained earnings / total assets\r\nX7\tEBIT / total assets\r\nX8\tbook value of equity / total liabilities\r\nX9\tsales / total assets\r\nX10\tequity / total assets\r\nX11\t(gross profit + extraordinary items + financial expenses) / total assets\r\nX12\tgross profit / short-term liabilities\r\nX13\t(gross profit + depreciation) / sales\r\nX14\t(gross profit + interest) / total assets\r\nX15\t(total liabilities * 365) / (gross profit + depreciation)\r\nX16\t(gross profit + depreciation) / total liabilities\r\nX17\ttotal assets / total liabilities\r\nX18\tgross profit / total assets\r\nX19\tgross profit / sales\r\nX20\t(inventory * 365) / sales\r\nX21\tsales (n) / sales (n-1)\r\nX22\tprofit on operating activities / total assets\r\nX23\tnet profit / sales\r\nX24\tgross profit (in 3 years) / total assets\r\nX25\t(equity - share capital) / total assets\r\nX26\t(net profit + depreciation) / total liabilities\r\nX27\tprofit on operating activities / financial expenses\r\nX28\tworking capital / fixed assets\r\nX29\tlogarithm of total assets\r\nX30\t(total liabilities - cash) / sales\r\nX31\t(gross profit + interest) / sales\r\nX32\t(current liabilities * 365) / cost of products sold\r\nX33\toperating expenses / short-term liabilities\r\nX34\toperating expenses / total liabilities\r\nX35\tprofit on sales / total assets\r\nX36\ttotal sales / total assets\r\nX37\t(current assets - inventories) / long-term liabilities\r\nX38\tconstant capital / total assets\r\nX39\tprofit on sales / sales\r\nX40\t(current assets - inventory - receivables) / short-term liabilities\r\nX41\ttotal liabilities / ((profit on operating activities + depreciation) * (12/365))\r\nX42\tprofit on operating activities / sales\r\nX43\trotation receivables + inventory turnover in days\r\nX44\t(receivables * 365) / sales\r\nX45\tnet profit / inventory\r\nX46\t(current assets - inventory) / short-term liabilities\r\nX47\t(inventory * 365) / cost of products sold\r\nX48\tEBITDA (profit on operating activities - depreciation) / total assets\r\nX49\tEBITDA (profit on operating activities - depreciation) / sales\r\nX50\tcurrent assets / total liabilities\r\nX51\tshort-term liabilities / total assets\r\nX52\t(short-term liabilities * 365) / cost of products sold)\r\nX53\tequity / fixed assets\r\nX54\tconstant capital / fixed assets\r\nX55\tworking capital\r\nX56\t(sales - cost of products sold) / sales\r\nX57\t(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)\r\nX58\ttotal costs /total sales\r\nX59\tlong-term liabilities / equity\r\nX60\tsales / inventory\r\nX61\tsales / receivables\r\nX62\t(short-term liabilities *365) / sales\r\nX63\tsales / short-term liabilities\r\nX64\tsales / fixed assets', 'citation': None}}
     name     role        type demographic description units missing_values
0    year  Feature     Integer        None        None  None             no
1      A1  Feature  Continuous        None        None  None             no
2      A2  Feature  Continuous        None        None  None             no
3      A3  Feature  Continuous        None        None  None             no
4      A4  Feature  Continuous        None        None  None            yes
..    ...      ...         ...         ...         ...   ...            ...
61    A61  Feature  Continuous        None        None  None            yes
62    A62  Feature  Continuous        None        None  None             no
63    A63  Feature  Continuous        None        None  None            yes
64    A64  Feature  Continuous        None        None  None            yes
65  class   Target     Integer        None        None  None             no

[66 rows x 7 columns]
(43405, 65)

In [30]:
X.head()

,year,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A55,A56,A57,A58,A59,A60,A61,A62,A63,A64
0,1,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,...,348690.0,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277
1,1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,...,2304.6,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870
2,1,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,...,6332.7,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078
3,1,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,...,20545.0,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497
4,1,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,...,3186.6,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980

In [31]:
Omega = X.isna().to_numpy()
Omega = Omega.astype(int)
print(np.sum(Omega, axis=0))

Y = Y.to_numpy()

[    0     8     8     8   134    89     8     8    94     9     8    44
   134   127     8    36    95    94     8   128   127  5854     8   127
   922     8    95  2764   812     8   127   127   368   134    94     8
     8 18984     8   127   134   754   127   127   127  2147   135   297
     9   127    94     8   301   812   812     1   127     7    84     7
  2152   102   127   134   812]

In [32]:
unique_rows = np.unique(Omega, axis=0)

unique_rows.shape

(287, 65)